mixin banner()
    section.banner(data-block="home")
        .banner__content 
            .container.container_banner
                h1.title.title_mb-13.title_banner(data-animation) Earn Money.&nbsp; <br> Promote Love.
                p.descr.descr_banner(data-animation) We offer mind-blowing payouts, custom landing pages and top-converting creatives
                .banner__wrap-links 
                    a.link.link_pink.link_left(href="https://docs.google.com/forms/d/e/1FAIpQLSdxavG1J88MJNsgx5W9-VNk5QZRPuwnuSUyez7N73GYifXn0Q/viewform" data-animation) 
                        span.link__text Apply for program
                    a.link.link_white.link_right(href="https://join.skype.com/invite/KAfwRGbYguL1" data-animation) 
                        span.link__text Chat now
                
