mixin payouts()
    section.payouts(data-block="payouts")
        .payouts__content 
            .container 
                .payouts__icon
                    svg(width="258" height="148" viewBox="0 0 258 148" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M161 46.7019C136.1 52.5019 107 -6.49812 72.2 0.601879L0 16.2019L131.6 147.902L257.9 21.6019C257.9 21.5019 176.2 43.2019 161 46.7019Z" fill="#FA009F")
                .payouts__grid
                    .payouts__col
                        h2.title.title_blue.title_big.title_mb-28(data-animation) Our payouts
                        p.descr.descr_blue.descr_payouts(data-animation) We offer mind-blowing payouts, custom landing pages and top-converting creatives
                        a.payouts__start(href="https://docs.google.com/forms/d/e/1FAIpQLSdxavG1J88MJNsgx5W9-VNk5QZRPuwnuSUyez7N73GYifXn0Q/viewform" data-animation) Start earning with us! 
                    .payouts__col
                        .payouts__prices
                            .payouts__prices-item(data-animation) 
                                span.payouts__prices-suffix $
                                p.payouts__prices-price
                                    span 2
                                    span 0
                                p.payouts__prices-text per lead
                            .payouts__prices-item(data-animation) 
                                span.payouts__prices-suffix $
                                p.payouts__prices-price
                                    span 6
                                    span 0 
                                    span 0
                                p.payouts__prices-text per sale
                            .payouts__prices-item(data-animation) 
                                span.payouts__prices-suffix $
                                p.payouts__prices-price
                                    span 1
                                    span 0
                                    span 0
                                    span 0
                                    span 0
                                p.payouts__prices-text referral bonus
                
