mixin footer(footerMods)
	footer.footer(class=footerMods data-block="why")
		.footer__body 
			.container
				h2.title.title_white.title_center.title_min.title_mb-28(data-animation) Why Dating Group
				.footer__items 
					.footer__item(data-animation) 
						.footer__item-icon
							svg(width="258" height="148" viewBox="0 0 258 148" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(d="M161 46.7019C136.1 52.5019 107 -6.49812 72.2 0.601879L0 16.2019L131.6 147.902L257.9 21.6019C257.9 21.5019 176.2 43.2019 161 46.7019Z" fill="#FA009F")
						h3.footer__item-title Since
						p.footer__item-text 1993
					.footer__item(data-animation) 
						.footer__item-icon
							svg(width="258" height="148" viewBox="0 0 258 148" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(d="M161 46.7019C136.1 52.5019 107 -6.49812 72.2 0.601879L0 16.2019L131.6 147.902L257.9 21.6019C257.9 21.5019 176.2 43.2019 161 46.7019Z" fill="#FA009F")
						h3.footer__item-title Affiliate payouts 2021
						p.footer__item-text $95mln +
					.footer__item(data-animation) 
						.footer__item-icon
							svg(width="258" height="148" viewBox="0 0 258 148" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(d="M161 46.7019C136.1 52.5019 107 -6.49812 72.2 0.601879L0 16.2019L131.6 147.902L257.9 21.6019C257.9 21.5019 176.2 43.2019 161 46.7019Z" fill="#FA009F")
						h3.footer__item-title Affiliates registered
						p.footer__item-text 80 000 +
					.footer__item(data-animation) 
						.footer__item-icon
							svg(width="258" height="148" viewBox="0 0 258 148" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(d="M161 46.7019C136.1 52.5019 107 -6.49812 72.2 0.601879L0 16.2019L131.6 147.902L257.9 21.6019C257.9 21.5019 176.2 43.2019 161 46.7019Z" fill="#FA009F")
						h3.footer__item-title Top monthly Payout
						p.footer__item-text $183 500
				.footer__links 
					a.link.link_pink.link_left(href="https://docs.google.com/forms/d/e/1FAIpQLSdxavG1J88MJNsgx5W9-VNk5QZRPuwnuSUyez7N73GYifXn0Q/viewform" data-animation) 
						span.link__text Apply for program
					a.link.link_white.link_right(href="https://join.skype.com/invite/KAfwRGbYguL1" data-animation) 
						span.link__text Chat now
		.footer__bottom
			.footer__copyright Copyright DatingGroup © 2022 All Rights Reserved
			.footer__note 
				button.footer__note-link(data-open-modal="terms") Terms & Conditions
				button.footer__note-link(data-open-modal="privacy") Privacy Policy
